@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

.container {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: white;
  opacity: .9;
  transition: transform .5s;
  /* Center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Mobile first sizing */
  width: 95%;
  max-width: 450px;
  height: 70%;
}

.form-container-item:nth-child(1), 
.form-container-item:nth-child(2) {
  display: grid;
  justify-content: center;
  text-align: center;
}

.form-container-item:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.container.faded {
  transform: translate(-2000px, -50%);
}

.container.hidden{
  transform: translate(2000px, -50%);
}

/* Progress Bar */

.circle, .bar {
  display: inline-block;
}

.circle {
  vertical-align: -3px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: gray;
  border: 2px solid white;
  text-align: center;
  margin: 1px;
}

.circle.active {
  background-color: teal;
}

.circle.done {
  background-color: green;
  border: 2px solid green;
  margin: 0;
}

.bar {
  width: 45px;
  height: 3px;
  background-color: gray;
}

.bar.done {
  background-color: green;
}

span.label {
  color: white;
  font: 12px arial;
}

input[type=number].noNumArrow::-webkit-outer-spin-button,
input[type=number].noNumArrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Customer Info */

.customer-info {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-gap: 10px;
  text-align: left;

  .first-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .last-name {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .phone {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .zipcode {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .location {
    grid-column-start: 3;
    grid-column-end: 5;
    align-self: center;
    font-style: italic;
  }
}

.form-control.ng-invalid.ng-touched.ng-dirty{
  border: 1px solid red;
}

/* Services */

.services {
  display: grid;
}

.service-item {
  display: block;
  border-radius: 50px;
  margin: 5px;
  padding: 20px;
  transition: transform .2s;
  text-align: center;
  font-family: marigold;
  font-style: italic;
  max-height: 85px;

  .details {
    list-style-type: circle;
    text-align: left;
    visibility: hidden;
    opacity: 0;
  }

  .details.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 4s;
  }
}

.service-item:hover{
  transform: scale(1.05);
}

.service-item.selectedAndToggled:hover{
  transform: none;
}

.service-item.selected {
  border: 2px solid rgb(66, 10, 63);
}

.service-item.selectedAndToggled{
  transition: max-height 2s;
  max-height: 400px;
}

.service-item.inactive {
  display: none;
}

.service-item > h1 {
  font-size: 25px;
}

/* Calendar, borrowed from Jamie -> https://codepen.io/jamiemggs/pen/xdvaJv */

.jzdbox1 {
  width: 315px; 
  background: #332f2e; 
  border-radius: 5px; 
  overflow: hidden; 
  display: block; 
  margin-bottom: 10px; 
  box-shadow: 0 0 10px #201d1c; 
  margin: 0 auto;
}

.jzdcal {
  padding: 0 10px 10px 10px; 
  box-sizing: border-box!important; 
  background:#749d9e; 
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
  background: linear-gradient(#749d9e, #b3a68b)!important;
}

.cal-header {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.cal-header-item{
  display: flex;
  align-items: center;
}

.jzdcalt {
  font: 18px 'Roboto'; 
  font-weight: 700; 
  color: #f7f3eb; 
  text-transform: uppercase; 
  text-align: center; 
  letter-spacing: 1px;
}

.jzdcal span {
  font: 11px 'Roboto'; 
  font-weight: 400; 
  text-align: center; 
  width: 42px; 
  height: 42px; 
  float: left; 
  overflow: hidden; 
  line-height: 40px;
}

span.days {
  color: #f7f3eb; 
}

span.days:hover {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
}

span.greyedOut {
  color: grey;
}

span.days.active {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
}

.calendar-check {
  margin: 10px;
}