.container {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: white;
  opacity: .9;
  transition: transform .5s;
  /* Center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Mobile first sizing */
  width: 95%;
  max-width: 500px;
  height: 60%;
}

/* Desktop sizing */
@media (min-width: 600px) {
  .container {
    width: 60%;
    max-width: 600px;
  }
}

.form-container-item:nth-child(1), 
.form-container-item:nth-child(2) {
  display: grid;
  justify-content: center;
}

.form-container-item:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.container.faded {
  transform: translate(-2000px, -50%);
}

.container.hidden{
  transform: translate(2000px, -50%);
}

/* .form-progress {
  display: inline-block;
  width: 350px;
} */

.circle, .bar {
  display: inline-block;
}

.circle {
  vertical-align: -4px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: gray;
  border: 2px double white;
  text-align: center;
}

.circle.active {
  background-color: teal;
}

.circle.done {
  background-color: green;
  border: 2px double green;
}

.bar {
  width: 50px;
  height: 3px;
  background-color: gray;
}

.bar.done {
  background-color: green;
}

span.label {
  color: white;
  font: 12px arial;
}

input[type=number].zip::-webkit-outer-spin-button,
input[type=number].zip::-webkit-inner-spin-button {
    -webkit-appearance: none;
}