<form #f="ngForm">
  <div id="1" class="container">
    <div class="form-container-item">
      <div class="form-progress">
        <div [ngClass]="{'circle':true, 'active':activeFormPage==1}">
          <span class="label">1</span>
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">2</span>
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">3</span>  
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">4</span>
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">5</span>
        </div>
      </div>
    </div>
    <div class="form-container-item">
      <label for="zip">Please enter your zip code.</label>
      <input ngModel #zip="ngModel" name="zip" class="form-control zip"
       autofocus="true" pattern="^\d{5}$">
    </div>
    <div class="form-container-item">
      <button class="btn btn-secondary" (click)="onBack()">Back</button>
      <button class="btn btn-primary" (click)="onNext()" [disabled]="!f.valid">Next</button>
    </div>
  </div>
  <div id="2" class="container hidden">
    <div class="form-container-item">
      <div class="form-progress">
        <div [ngClass]="{'circle':true, 'done':activeFormPage>1}">
          <span class="label">✓</span>
        </div>
        <span [ngClass]="{'bar':true, 'done':activeFormPage>1}"></span>
        <div [ngClass]="{'circle':true, 'active':activeFormPage==2}">
          <span class="label">2</span>
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">3</span>  
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">4</span>
        </div>
        <span class="bar"></span>
        <div class="circle">
          <span class="label">5</span>
        </div>
      </div>
    </div>
    <div class="form-container-item">
      <div class="services">
        <a (click)="selectCleaning(1)" class="active">
          <div class="service-item" style="background-color:green;"
          [ngClass]="{active: activeCleanDetails == 1}">
            <h1>Full Cleaning</h1>
            <a (click)="toggleDetails()"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="details active" id="fullCleanDetails">
              <li>Everything</li>
              <li>Thats right!!</li>
              <li>Huhu</li>
              <li>Heheheheh</li>
            </ul>
          </div>
        </a>
        <a (click)="selectCleaning(2)">
          <div class="service-item inactive" style="background-color:powderblue;"
          [ngClass]="{active: activeCleanDetails == 2}">
            <h1>3 Hour Cleaning</h1>
            <a (click)="toggleDetails()"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="details" id="threeCleanDetails">
              <li>Everything</li>
              <li>Thats right!!</li>
              <li>Huhu</li>
            </ul>
          </div>
        </a>
        <a (click)="selectCleaning(3)">
          <div class="service-item inactive" style="background-color:beige;"
          [ngClass]="{active: activeCleanDetails == 3}">
            <h1>1 Hour Cleaning</h1>
            <a (click)="toggleDetails()"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul class="details" id="oneCleanDetails">
              <li>Everything</li>
              <li>Thats right!!</li>
              <li>Huhu</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div class="form-container-item">
      <button class="btn btn-secondary" (click)="onBack()">Back</button>
      <button class="btn btn-primary" (click)="onNext()">Next</button>
    </div>
  </div>
</form>